<!DOCTYPE html>
<html lang="en">

<head>

  <title>Thông tin Luật Sư | My Lawyer</title>

  <%- include('partials/head.ejs'); -%>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

  <link rel="stylesheet" href="/client/assets/css/profile.css">


  
</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header.ejs'); -%>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
<!--
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center" data-aos="fade-up">
      <h1><span>Trang cá nhân</span></h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
    </div>
  </section>
-->
  <!-- End Hero -->

  <main id="main">

    <!--Start code-->
    <section id="lawyerDashboard">
        <div class="container-fluid">

            <div class="row mt-5">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                
                    <!-- Sidebar -->
                    <%- include('partials/user-sidebar.ejs'); -%>
                    <!-- /Sidebar -->

                </div>
                
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="card">
                        <div class="card-body">
                            
                            <!-- Profile Settings Form -->
                            <form id="ld_changeAvatar" action="/upload" method="post" enctype="multipart/form-data">
                                <div class="row form-row">
                                    <div class="col-12 col-md-12">
                                        <div class="form-group">
                                            <div class="change-avatar">
                                                <div class="profile-img">
                                                    <img id="ld_avatar" src="<%= lawyer.Avatar %>" alt="Ảnh đại diện">
                                                </div>
                                                <div class="upload-img">
                                                    <div class="change-photo-btn">
                                                        <span><i class="fa fa-upload"></i> Tải ảnh lên</span>
                                                        <input id="ld_uploadAvatar" type="file" accept="image/*" class="upload" name="photo">
                                                    </div>
                                                    <small class="form-text text-muted">Sử dụng tệp tin có định dạng JPG, GIF hoặc PNG. Kích thước tối đa 100KB</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-section">
                                    <button id="ld_updateButton" type="submit" class="btn btn-primary submit-btn">Lưu thay đổi</button>
                                    <div id="ld_message"></div>
                                </div>
                            </form>
                            <!-- /Profile Settings Form -->
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </section>
<!--end code-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('partials/footer.ejs'); -%>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/client/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/client/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/client/assets/vendor/php-email-form/validate.js"></script>
  <script src="/client/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/client/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/client/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/client/assets/vendor/owl.carousel/owl.carousel.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  
  <script src="/client/assets/js/main.js"></script>
  <script src="/client/assets/js/lawyer.js"></script>

 <script>
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
              $('#ld_avatar').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]); // convert to base64 string
          }
        }

        $("#ld_uploadAvatar").change(function() {
          readURL(this);
          var file = document.getElementById("ld_uploadAvatar").value;
          console.log(file);
        });
  </script>

  <script>
         $('#ld_changeAvatar').submit(function(event){
            event.preventDefault();

            var file = document.getElementById("ld_uploadAvatar").value;
            console.log(file);

            if (file == null || file == '') {
                ld_message.textContent = "Vui lòng chọn ảnh.";
                ld_message.style.color = "red";
                ld_message.classList = "text-center mb-2";
            } else {
                
                // Request to server to log-in passing the User information (userObj)

                var formURL = '/lawyer/upload?UserID=<%= lawyer.LawyerID %>';
                // var formURL = 'http://api.veneris.bitiland.com/api/<%= user.ClientID %>'
                var formData = new FormData(this);

                $.ajax(
                {
                    url : formURL,
                    type: "POST",
                    contentType: 'application/json',
                    crossDomain: true,
                    data : formData,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(response) 
                    {
                        //data: return data from server
                        // alert("The server says: " + response.accessToken);
                        console.log(response.message);
                        ld_message.textContent = "Cập nhật thành công";
                        ld_message.style.color = "green";
                        ld_message.classList = "text-center mb-2";
                        // console.log(request.getResponseHeader('Set-Cookie'));
                        //alert(document.cookie);
                        window.location.reload();
                    },
                    error: function(response) 
                    {
                        console.log(response.message);
                        ld_message.textContent = "Có lỗi xảy ra. Vui lòng thử lại.";
                        ld_message.style.display = "block";
                        ld_message.style.color = "red";
                        ld_message.classList = "text-center mb-2";
                        //alert("Phiên đăng nhập hết hạn \n Vui lòng đăng nhập lại.");
                        //window.location.href('/');
                        //if fails   
                        //alert('it didnt work');   
                    }
                });
            }
        });
  </script>



  <script>

  </script>

</body>

</html>