
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Guest| Dashboard</title>

    <%- include('partials/head.ejs'); -%>

  </head>

  <body>

	<!-- Navbar -->
	<%- include('partials/nav.ejs'); -%>
	<!--Breadscrumb -->
	<%- include('partials/breadcrumb.ejs', { site_name: 'Guests', edit_flag: true }); -%>

    <section id="main">
    <div class="container">
    	<div class="row">
    		<div class="col-md-2">
				<!-- Dash Board -->
				<%- include('partials/dash-board.ejs'); -%>
				<!-- End of Dash Board  -->
    		</div>
    		<div class="col-md-6">
    			<!-- Website Overview -->
			    <div class="panel panel-default">
			  		<div class="panel-heading main-color-bg">
			    		<h3 class="panel-title">Edit Guest Profile</h3>
			  		</div>
			  		<div class="panel-body">
			  			<form>
							<div class="form-group">
							  <label>Guest ID</label>
							  <input readonly type="text" class="form-control" placeholder="Guest ID" value="<%= guest.id %>">
						  	</div>

							<div class="form-group">
								<label>Fullname</label>
								<input type="text" class="form-control" placeholder="Fullname" value="<%= guest.fullname %>">
							</div>

							<div class="form-group">
								<label>Password</label>
								<div class="input-group">
									<input type="password" class="form-control" id="password-input" placeholder="Password" value="<%= guest.password %>">
									<span class="input-group-btn">
										<a onclick="show_password()" class="btn btn-primary" id="password-show-btn">Show Password</a>
									</span>
								</div>
							</div>

							<div class="form-group" id="email">
								<label>Email</label>
								<input type="text" class="form-control" placeholder="Email" value="<%= guest.email %>">
							</div>

							<div class="form-group" id="sex">
								<label>Sex</label>
								<div>
									<select class="form-control">
										<% for(sex of sex_types) {%>
											<option id="<%= sex.id %>" value="<%= sex.id %>" <% if(sex.id.toString() == guest.sex.toString()) {%>
												selected="selected" <% }%>
											><%= sex.name %></option>
										<% } %>
									</select>
								</div>
							</div>

							<div class="form-group" id="marital_status">
								<label>Marital Status</label>
								<div>
									<select class="form-control">
										<% for(status of marital_status) {%>
											<option id="<%= status.id %>" value="<%= status.id %>" <% if(status.id.toString() == guest.marital_status.toString()) {%>
												selected="selected" <% }%>
											><%= status.name %></option>
										<% } %>
									</select>
								</div>
							</div>

							<div class="form-group" id="rank">
								<label>Rank</label>
								<div>
									<select class="form-control">
										<% for(rank of rank_types) {%>
											<option id="<%= rank.id %>" value="<%= rank.id %>" <% if(rank.id.toString() == guest.rank.toString()) {%>
												selected="selected" <% }%>
											><%= rank.name %></option>
										<% } %>
									</select>
								</div>
							</div>

							<div class="form-group" id="lawyer">
								<label>Lawyer</label>
								<input type="text" class="form-control" placeholder="Lawyer" value="<%= guest.lawyer_name %>">
							</div>

							<div class="form-group" id="created_at">
								<label>Joined</label>
								<input readonly type="text" class="form-control" placeholder="Created At" value="<%= new Date(guest.created_at).toDateString() %>">
							</div>
							
							<div class="form-group">
								<label hidden>Submit</label>
							</div>
								<input type="submit" class="btn btn-danger" value="Submit">
								<input type="button" class="btn btn-default" onclick="window.history.back()" value="Back to List">
							</div>
						</form>
			  		</div>
			</div>
			</div>
		</div>
	</div>
    </section>

	<%- include('partials/footer.ejs'); -%>

    <!-- Bootstrap core JavaScript -->
    <script src="http://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/edit-guest.js"></script>
</body>
</html>
