<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Post | Dashboard</title>

    <%- include('partials/head.ejs'); -%>

</head>

<body>

    <!-- Navbar -->
    <%- include('partials/nav.ejs'); -%>

    <!-- Breadscrumb -->
    <%- include('partials/breadcrumb.ejs', { site_name: 'Danh sách bài viết' , edit_flag: false }); -%>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="post-detail" class="tab-pane fade in active">
                        <div hidden class="alert alert-info" role="alert" id="alert-div"></div>
                        <form id="clientInfo" action="/admin/post/" method="POST">
                            <div class="col-sm-12">
                                <!-- ID -->
                                <div hidden class="form-group">
                                    <label>ID Bài Viết</label>
                                    <input id="i_post_id" readonly type="text" class="form-control" placeholder="ID Bài Viết" value="<%= Post.PostID %>">
                                </div>
                                <!-- Tiêu Đề -->
                                <div class="form-group" id="title" name="title">
                                    <label>Tiêu Đề</label>
                                    <input id="i_title" readonly type="text" class="form-control" placeholder="Tiêu Đề" value="<%= Post.Title %>">
                                </div>
                                <div class="form-group" id="content" name="content">
                                    <label>Nội Dung</label>
                                    <textarea name="i_content" id="i_content" class="form-control"><%= Post.Content.toString().split('<br>').join('\n') %></textarea>
                                </div>
                            </div>
                            
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <!-- Ngày Đăng -->
                                    <div class="form-group" id="publish" name="publishedDate">
                                        <label>Ngày Đăng</label>
                                        <% var publish = new Date(Post.PublishedDateTime) %>
                                        <input id="i_publish" readonly type="text" class="form-control" placeholder="Ngày Đăng"
                                            value="<%= publish.getDate().toString().padStart(2, '0') + '/' + (publish.getMonth() + 1).toString().padStart(2, '0') + '/' + publish.getFullYear().toString().padStart(4, '0') %>">
                                    </div>
                                    <!-- Loại Hình -->
                                    <div class="form-group" id="category" name="category">
                                        <label>Loại Hình</label>
                                        <select class="form-control" id="i_category" name="i_category" disabled>
                                        <% for(key of CategoryMapper.keys()) {%>
                                            <% if(key != Post.Category) { %>
                                                <option id="i_category_id" value="<%= key%>"><%= CategoryMapper.get(key) %></option>
                                            <% } else { %>
                                                <option id="i_category_id" value="<%= key%>" selected><%= CategoryMapper.get(key) %></option>
                                            <% } %>
                                        <% } %>
                                        </select>
                                    </div>
                                    <!-- Người Đăng -->
                                    <div class="form-group" id="publisher" name="publisher">
                                        <label>Người Đăng</label>
                                        <% if(Admin != null) { %>
                                            <input style='display:none' id="i_publisher_id" readonly type="text" class="form-control" placeholder="Người Đăng" value="<%= Admin.UserID %>">
                                            <input id="i_publisher_name" readonly type="text" class="form-control" placeholder="Người Đăng" value="<%= Admin.UserName %>">
                                        <% } else { %>
                                            <input style='display:none' id="i_publisher_id" readonly type="text" class="form-control" placeholder="Người Đăng" value="">
                                            <input id="i_publisher_name" readonly type="text" class="form-control" placeholder="Người Đăng" value="">
                                        <% } %>
                                    </div>
                                    <!-- Tác Giả -->
                                    <div class="form-group" id="publisher" name="publisher">
                                        <label>Tác Giả</label>
                                        <input style='display:none' id="i_author_id" readonly type="text" class="form-control" placeholder="Tác Giả" value="">
                                        <input id="i_author_name" readonly type="text" class="form-control" placeholder="Tác Giả" value="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- Ảnh Bìa -->
                                    <div class="form-group" id="title" name="title">
                                        <label>Ảnh Bìa</label>
                                        <input id="i_thumbnail" readonly type="text" class="form-control" placeholder="Ảnh Bìa" value="<%= Post.ImageUrl %>">

                                        <!-- Profile Settings Form -->
                                        <input id="i_upload_image" type="file" accept="image/*" class="upload" name="photo" disabled>
                                        <img id="post_image" src="<%= Post.ImageUrl %>" alt="" class="img-fluid" style="max-width: 100%;max-height: 200px;">
                                        <!-- /Profile Settings Form -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="edit-btn" type="button" class="btn btn-md btn-danger">Chỉnh sửa</button>
                                <button disabled id="update-btn" type="button" class="btn btn-md btn-danger">Cập nhật</button>
                                <button disabled id="cancel-btn" type="button" class="btn btn-md btn-primary">Hủy</button>
                                <button id="return-btn" type="button" class="btn btn-md btn-primary">Trở về</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs'); -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script>CKEDITOR.replace( 'i_content' );</script>
    <script src="/admin/js/edit-post.js"></script>

    <script>
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
              $('#post_image').attr('src', e.target.result);

            }
            
            reader.readAsDataURL(input.files[0]); // convert to base64 string
          }
        }

        $("#i_upload_image").change(function() {
          readURL(this);
          var file = document.getElementById("i_upload_image").value;
          $('#i_thumbnail').val(file.replace(/^.*[\\\/]/, ''));
          console.log(file);
        });
    </script>
</body>
</html>