<div class="modal fade" id="view-guest-<%= guest.ClientID; %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="panel-heading main-color-bg">
                    <h3 class="panel-title">Guest Profile</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fullname</label>
                                <input readonly type="text" class="form-control" placeholder="Fullname" value="<%= guest.fullname %>">
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input readonly type="text" class="form-control" placeholder="Phone" value="<%= guest.phone %>">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input readonly type="text" class="form-control" placeholder="Fullname" value="<%= guest.email %>">
                            </div>
                            <div class="form-group">
                                <label>Birthday</label>
                                <input readonly type="text" class="form-control" placeholder="Birthday" value="<%= guest.birthday %>">
                            </div>
                            <div class="form-group" id="sex">
                                <label>Sex</label>
                                <input readonly type="text" class="form-control" placeholder="Sex" value="<%= guest.sex %>">
                            </div>
                            <div class="form-group">
                                <label>Marial Status</label>
                                <input readonly type="text" class="form-control" placeholder="Rank" value="<%= guest.marital_status %>">
                            </div>
                            <div class="form-group">
                                <label>Career</label>
                                <input readonly type="text" class="form-control" placeholder="Career" value="<%= guest.career %>">
                            </div>
                            <div class="form-group">
                                <label>Company</label>
                                <input readonly type="text" class="form-control" placeholder="Company" value="<%= guest.company %>">
                            </div>
                        </div>
                        <!-- Right Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Lawyer</label>
                                <input readonly type="text" class="form-control" placeholder="Lawyer" value="<%= guest.lawyer_name %>">
                            </div>
                            <div class="form-group">
                                <label>Rank</label>
                                <input readonly type="text" class="form-control" placeholder="Rank" value="<%= guest.rank %>">
                            </div>
                            <div class="form-group">
                                <label>Joined</label>
                                <input readonly type="text" class="form-control" placeholder="Created At" value="<%= new Date(guest.created_at).toDateString() %>">
                            </div>
                            <div class="form-group">
                                <label>Lastest Updated</label>
                                <input readonly type="text" class="form-control" placeholder="Created At" value="<%= new Date(guest.updated_at).toDateString() %>">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea readonly type="text" class="form-control" placeholder="Address" rows="12" maxlength="300" style="height:257px"
                                ><%= guest.address %></textarea>
                            </div>
                        </div>
                        <!-- Richtext area -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
                </div>
            </form>
        </div>
    </div>
</div>