<!DOCTYPE html>
<html lang="en">

<head>
    <title>Posts | Dashboard</title>

    <%- include('partials/head.ejs'); -%>

</head>

<body>

    <!-- Navbar -->
    <%- include('partials/nav.ejs'); -%>

    <!-- Breadscrumb -->
    <%- include('partials/breadcrumb.ejs', { site_name: 'Danh sách bài viết' , edit_flag: false }); -%>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div hidden class="alert alert-info" role="alert" id="alert-div"></div>
                </div>
                <div class="col-md-12">
                    <!-- Website Overview -->
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading main-color-bg">
                            <div class="row">
                                <div class="col col-xs-6">
                                  <h3 class="panel-title">Danh sách Bài viết</h3>
                                </div>
                                <!--
                                <div class="col col-xs-6 text-right">                               
                                  <button type="button" class="btn btn-sm btn-primary btn-create">Tạo mới</button>
                                  <button type="button" class="btn btn-sm btn-warning btn-create">Xóa </button>
                                </div>
                            -->
                              </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Lọc bài viết">
                                </div>
                            </div>
                            <table class="table table-striped table-hover table-list">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <input type="checkbox" id="parent" onclick="toggleCheckbox()">
                                        </th>
                                        <th class="text-center">Tiêu đề</th>
                                        <th class="text-center">Trạng thái</th>
                                        <th class="text-center">Tác giả</th>
                                        <th class="text-center"><em class="glyphicon glyphicon-cog"></em></th>
                                    </tr>
                                </thead>
                            <tbody>
                                <% for(post of post_list) { %>
                                    <tr id="post-info-<%= post.PostID%>">
                                        <td class="text-center">
                                            <input type="checkbox" id="child" onclick="detectCheckedAll()">
                                        </td>
                                        <td>
                                            <%= post.Title %>
                                        </td>
                                        <td class="text-center">
                                            Đã đăng
                                        </td>
                                        <td class="text-center">
                                            <%= post.AdminID; %>
                                        </td>
                                        <td>
                                            <a class="btn btn-default glyphicon glyphicon-pencil" href="/admin/posts/edit-post/<%= post.PostID %>"></a>
                                            <!-- <button class="btn btn-default " formaction="/admin/posts/edit-post/<%= post.PostID %>">
                                                <em class="glyphicon glyphicon-pencil"></em>
                                            </button> -->
                                            <button type="text" class="btn btn-danger " name="delete-btn" id="<%= post.PostID%>"
                                                data-toggle="modal" data-target="#del-post-<%= post.PostID %>"
                                                formaction="/admin/posts/<%= post.PostID %>">
                                                <em class="glyphicon glyphicon-trash"></em>
                                            </button>
                                        </td>

                                        <%- include('partials/del-post-modal.ejs', { post: post }); %>
                                    </tr>
                                <% }%>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs'); -%>

    <!-- Bootstrap core JavaScript -->
    <script src="http://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/dataTable.js"></script>
</body>

</html>