<!DOCTYPE html>
<html lang="en">

<head>

  <title> Đặt lịch hẹn | My Lawyer</title>

  <%- include('partials/head.ejs'); -%>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

  <link rel="stylesheet" href="/client/assets/vendor/daterangepicker/daterangepicker.css">

  <link rel="stylesheet" href="/client/assets/css/profile.css">
  <link rel="stylesheet" href="/client/assets/css/booking.css">


  
</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header.ejs'); -%>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
<!--
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center" data-aos="fade-up">
      <h1><span>Trang cá nhân</span></h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
    </div>
  </section>
-->
  <!-- End Hero -->

  <main id="main">

    <!--Start code-->
    <section id="checkOut">
        <div class="container-fluid">
				
            <div class="row mt-5">
                <div class="col-12">
                
                    <div class="card">
                        <div class="card-body">
                            <div class="booking-user-info">
                                <a href="profile.html" class="booking-user-img">
                                    <img src="/client/assets/img/user/user2.jpg" alt="User Image">
                                </a>
                                <div class="booking-info">
                                    <h4><a href="/lawyer/profile?lawyerID=<%= lawyer.LawyerID %> "><%= lawyer.FirstName %> <%= lawyer.LastName %> </a></h4>
                                    <%
                                            var specialize;
                                            switch (lawyer.Specialize){
                                            case '1':
                                                specialize = "Hình sự";
                                                break;
                                            case '2':
                                                specialize = "Dân sự";
                                                break;
                                            case '3':
                                                specialize = "Kinh doanh thương mại";
                                                break;
                                            default:
                                                specialize = "khác";
                                                break;                          
                                            }
                                    %>
                                    <p class="text-muted mb-0"><i class="fas fa-id-card-alt"></i> Lĩnh vực <%= specialize %> </p>
                                    <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> <%= lawyer.District %> <%= lawyer.Province %> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-section row clearfix">
                    
                      <!--Form Column-->
                      <div class="form-column col-md-8 col-sm-12 col-xs-12">
                          <div class="inner-column">
                              
                                <!-- Default Form -->
                                <div class="default-form">
                                        
                                    <!--Contact Form-->
                                    <form id="cd_bookingInfo" action="/checkout?lawyerID=<%=lawyer.LawyerID%>&userID=<%=user%>" method="POST">
                                        <div class="row clearfix">
                                        
                                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                            
                                                <div class="form-group">
                                                    <input id="cd_name" type="text" name="Name" placeholder="Họ và tên" required>
                                                </div>
                                                
                                                <!--Form Group-->
                                                <div class="form-group">
                                                    <select id="cd_specialize" name="Specialize" class="custom-select-box">
                                                        <option value="1">Hình sự</option>
                                                        <option value="2">Dân sự </option>
                                                        <option value="3">Kinh doanh thương mại</option>
                                                        <option value="4">Khác</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <input id="cd_date" type="date" class="datepicker" name="Date" placeholder="Ngày hẹn" required>
                                                    <i class="far fa-calendar-alt"></i>
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                                
                                                <div class="form-group">
                                                    <input id="cd_email" type="email" name="Email" placeholder="Email" required>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <input id="cd_phonenumber" type="text" name="PhoneNumber" placeholder="Điện thoại" required>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <input id="cd_time" class="timepicker" type="text" name="Time" placeholder="Thời gian hẹn">
                                                    <i class="far fa-clock"></i>
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                               <div class="submit-section proceed-btn">
                                                    <button id="cd_confirmBtn" type="submit" class="btn btn-primary submit-btn">
                                                        Xác nhận lịch hẹn
                                                    </button>
                                                    <!-- href="/checkout?LawyerID=<%= lawyer.LawyerID%>&UserID=<%=user%>" -->
                                                </div>
                                            </div>                 
                                        </div>
                                    </form>
                                        
                                </div>
                                <!--End Default Form -->
                                
                            </div>
                        </div>
                        
                        <!--Form Column-->
                      <div class="schedule-column col-md-4 col-sm-12 col-xs-12">
                          <div class="inner-outer">
                                <div class="inner-column">
                                    <h2>Giờ làm việc:</h2>
                                    <ul class="time-list">
                                        <li>Thứ 2 - Thứ 6: 9.00 AM - 5.00 PM</li>
                                        <li>Thứ 7: 9.00 AM - 3.00 PM</li>
                                        <!-- <li><strong>Chủ nhật không làm việc</strong></li> -->
                                        <li class="closed">* Chủ nhật và ngày lễ không làm việc.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>   
    </section>
<!--end code-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('partials/footer.ejs'); -%>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/client/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/client/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/client/assets/vendor/php-email-form/validate.js"></script>
  <script src="/client/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/client/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/client/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/client/assets/vendor/owl.carousel/owl.carousel.min.js"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  

  <script src="/client/assets/js/moment.min.js"></script>
  <script src="/client/assets/vendor/daterangepicker/daterangepicker.js"></script>

  <script src="/client/assets/js/main.js"></script>
  <script src="/client/assets/js/lawyer.js"></script>

  <script>
        $('#cd_email').val(getCookie("email"));/// = 
        /*
        $('#cd_confirmBtn').click(function(event){
            event.preventDefault();

            const postData = {
                ClientID:  '<%=user%>',
                LawyerID:  '<%= lawyer.LawyerID %>',
                ClientName:  $("#cd_name").val(),
                PhoneNumber: $("#cd_phonenumber").val(),
                Date: $("#cd_date").val(),
                Time: $("#cd_time").val(),
                Specialize: $("#cd_specialize").val()
            }

            var formURL =  '/booking';

            $.ajax(
            {
                url : formURL,
                type: "POST",
                contentType: 'application/json',
                crossDomain: true,
                data : JSON.stringify(postData),
                dataType: 'json',
                success:function(response) 
                {
                },
                error: function(response) 
                {
                }
            });
    })
    */

  </script>

</body>

</html>