<!DOCTYPE html>
<html lang="en">

<head>

  <title> Xác nhận lịch hẹn | My Lawyer</title>

  <%- include('partials/head.ejs'); -%>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

  <link rel="stylesheet" href="/client/assets/css/profile.css">


  
</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header.ejs'); -%>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
<!--
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center" data-aos="fade-up">
      <h1><span>Trang cá nhân</span></h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
    </div>
  </section>
-->
  <!-- End Hero -->

  <main id="main">

    <!--Start code-->
    <section id="checkOut">
        <div class="container-fluid">

            <div class="row mt-5">

                <div class="col-md-7 col-lg-8">
                    <!-- Checkout Form -->
                    <form id="cp_form" action="/booking-success?LawyerID=<%= lawyer.LawyerID%>&UserID=<%= user %>" method="POST">
                        <div class="card">
                            <div class="card-body">
                                
                                    <!-- Personal Information -->
                                    
                                    <div class="info-widget">
                                        <h4 class="card-title">Thông tin cá nhân</h4>
                                        <div class="row">
                                            <div hidden class="form-group">
                                                <label>Họ và tên Luật sư</label>
                                                <input class="form-control" name="Lawyer_FullName" type="text" value="<%= lawyer.FullName; %>" >
                                            </div>
                                            <div hidden class="form-group">
                                                <label>Email Luật sư</label>
                                                <input class="form-control" name="Lawyer_Email" type="text" value="<%= lawyer.Email; %>" >
                                            </div>
                                            <div hidden class="form-group">
                                                <label>Số điện thoại Luật sư</label>
                                                <input class="form-control" name="Lawyer_PhoneNumber" type="text" value="<%= lawyer.PhoneNumber; %>" >
                                            </div>                                            
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Họ và tên </label>
                                                    <input class="form-control" name="Name" type="text" value="<%= userInfo.Name; %>" >
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Email</label>
                                                    <input class="form-control" name="Email" type="email" value="<%= userInfo.Email; %>">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Điện thoại</label>
                                                    <input class="form-control" name="PhoneNumber" type="text" value="<%= userInfo.PhoneNumber; %>">
                                                </div>
                                            </div>
                                             <div class="col-md-3 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Ngày đặt hẹn</label>
                                                    <input class="form-control" name="Date" type="date" value="<%= userInfo.Date; %>" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Giờ đặt hẹn</label>
                                                    <input class="form-control" name="Time" type="text" value="<%= userInfo.Time; %>" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                        <!--
                                        <div class="exist-customer">Existing Customer? <a href="checkout.html#">Click here to login</a></div> -->
                                    </div>
        
                                    <!-- /Personal Information -->
                                    
                                    <div class="payment-widget">
                                        <h4 class="card-title">Phương thức thanh toán</h4>
                                        
                                        <!-- Credit Card Payment -->
                                        <div class="payment-list form-group">
                                            <label class="payment-radio credit-card-option">
                                                <input id="cp_credit" type="radio" name="radio" value="1" required oninvalid="this.setCustomValidity('Vui lòng chọn phương thức thanh toán')" oninput="setCustomValidity('')">
                                                <span class="checkmark"></span>
                                                Thẻ tín dụng
                                            </label>
                                            <!--
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group card-label">
                                                        <label for="card_name">Tên chủ thẻ</label>
                                                        <input class="form-control" id="card_name" name="BankName" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group card-label">
                                                        <label for="card_number">Số thẻ</label>
                                                        <input class="form-control" id="card_number"  name="BankAccount" placeholder="1234  5678  9876  5432" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group card-label">
                                                        <label for="expiry_month">Tháng</label>
                                                        <input class="form-control" id="expiry_month" name="BankMonth" placeholder="MM" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group card-label">
                                                        <label for="expiry_year">Năm</label>
                                                        <input class="form-control" id="expiry_year" name="BankYear" placeholder="YY" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group card-label">
                                                        <label for="cvv">CVV</label>
                                                        <input class="form-control" id="cvv" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        -->
                                        </div>
                                        <!-- /Credit Card Payment -->
                                        
                                        <!-- Paypal Payment -->
                                        <div class="payment-list form-group">
                                            <label class="payment-radio paypal-option">
                                                <input id="cp_momo"  type="radio" name="radio"  value="2">
                                                <span class="checkmark"></span>
                                                Ví MOMO
                                            </label>
                                        </div>
                                        <!-- /Paypal Payment -->

                                        <!-- Credit Card Payment -->
                                        <div class="payment-list form-group">
                                            <label class="payment-radio credit-card-option">
                                                <input id="cp_transfer" type="radio" name="radio" value="3">
                                                <span class="checkmark"></span>
                                                Thanh toán chuyển khoản
                                            </label>
                                        </div>
                                        <!-- /Credit Card Payment -->
                                        <!-- Terms Accept -->
                                        <div class="terms-accept form-group">
                                            <div class="custom-checkbox">
                                               <input type="checkbox" id="terms_accept" required oninvalid="this.setCustomValidity('Vui lòng đọc và đồng ý với các điều khoản')" oninput="setCustomValidity('')">
                                               <label for="terms_accept">Tôi đã đọc và đồng ý với các <a href="#">Điều kiện &amp; Điều khoản</a></label>
                                            </div>
                                        </div>
                                        <!-- /Terms Accept -->
                                        
                                        <!-- Submit Section -->
                                        <div id="cp_message"></div>
                                        <div class="submit-section mt-4">
                                            <button type="submit" class="btn btn-primary submit-btn">Xác nhận thanh toán</button>
                                        </div>
                                        <!-- /Submit Section -->
                                        
                                    </div>
                                
                                <!-- /Checkout Form -->
                                
                            </div>
                        </div>
                    </form>
                </div>
                            
                <div class="col-md-5 col-lg-4 theiaStickySidebar">
                
                    <!-- Booking Summary -->
                    <div class="card booking-card">
                        <div class="card-header">
                            <h4 class="card-title">Thông tin thanh toán</h4>
                        </div>
                        <div class="card-body">
                        
                            <!-- Booking Mentee Info -->
                            <div class="booking-user-info">
                                <a href="#" class="booking-user-img">
                                    <img src="<%= lawyer.Avatar %>" alt="User Image">
                                </a>
                                <div class="booking-info">
                                    <h4><a href="/lawyer/profile?lawyerID=<%= lawyer.LawyerID %>"> <%= lawyer.FirstName %> <%= lawyer.LastName %></a></h4>
                                    <%
                                            var specialize;
                                            switch (lawyer.Specialize){
                                            case '1':
                                                specialize = "Hình sự";
                                                break;
                                            case '2':
                                                specialize = "Dân sự";
                                                break;
                                            case '3':
                                                specialize = "Kinh doanh thương mại";
                                                break;
                                            default:
                                                specialize = "khác";
                                                break;                          
                                            }
                                    %>                                    
                                    <div class="mentor-details">
                                        <p class="text-muted mb-0"><i class="fas fa-id-card-alt"></i> Lĩnh vực <%= specialize %></p>
                                        <p class="user-location"><i class="fas fa-map-marker-alt"></i> <%= lawyer.District %>, <%= lawyer.Province %> </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Booking Mentee Info -->
                            
                            <div class="booking-summary">
                                <div class="booking-item-wrap">
                                    <ul class="booking-date">
                                        <li>Ngày hẹn <span> <%= userInfo.Date %> </span></li>
                                        <li>Giờ hẹn <span> <%= userInfo.Time %> </span></li>
                                    </ul>
                                    <ul class="booking-fee">
                                        <li>Phí luật sư <span>100,000 VNĐ</span></li>
                                        <li>Phí dịch vụ <span>50,000 VNĐ</span></li>
                                        <li>Thuế <span>0 VNĐ</span></li>
                                    </ul>
                                    <div class="booking-total">
                                        <ul class="booking-total-list">
                                            <li>
                                                <span>Tổng cộng</span>
                                                <span class="total-cost">150,000 VNĐ</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Booking Summary -->
                    
                </div>
            </div>

        </div>        
    </section>
<!--end code-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('partials/footer.ejs'); -%>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/client/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/client/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/client/assets/vendor/php-email-form/validate.js"></script>
  <script src="/client/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/client/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/client/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/client/assets/vendor/owl.carousel/owl.carousel.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  
  <script src="/client/assets/js/main.js"></script>
  <script src="/client/assets/js/lawyer.js"></script>

  <script>

  </script>

</body>

</html>