<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tin tức | My Lawyer</title>

    <%- include('partials/head.ejs'); -%>
    <link rel="stylesheet" href="/client/assets/css/news-page.css" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('partials/header.ejs'); -%>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->

    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container text-center" data-aos="fade-up">
        <h1><span>Tin tức My Lawyer</span></h1>
        <h2>My Lawyer đã và đang làm được những gì</h2>
      </div>
    </section>

    <!-- End Hero -->
    <main id="news-page">
      <div class="container">
        <div class="row">
          <!-- sidebar for news -->
          <%- include('partials/news-sidebar.ejs'); -%>

          <div class="col-12 col-md-9 order-md-1">
            <div class="news-lastest">
              <div class="title-header">
                <h2>Tin tức</h2>
              </div>
              <ul class="list-news" id="list-news">
                <!-- <% for(var post of postList) {%>

                <li class="news">
                  <div class="row">
                    <div class="col-4">
                      <a href="/news-detail/<%= post.PostID%>">
                        <img
                          src="<%= post.ImageUrl%>"
                          class="news-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-8">
                      <div class="news-category d-none d-md-inline-block">
                        Tin tức luật sư
                      </div>
                      <div class="news-title">
                        <a href="/news-detail/<%= post.PostID%>">
                          <%= post.Title %>
                        </a>
                      </div>
                      <div class="news-time d-none d-md-inline-block">
                        <i class="fal fa-clock"></i>
                        <%=new Intl.DateTimeFormat('vi-VN', { year: 'numeric',
                        month: 'long', day: '2-digit'}).format(new
                        Date(post.UpdatedDateTime))%>
                      </div>
                      <div class="news-description">
                        <%- post.Content.toString().replace(/<\/?[^>]+(>|$)/g,
                        "") %>
                      </div>
                    </div>
                  </div>
                </li>

                <% } %> -->
              </ul>
              <!-- Pagination -->
              <nav id="loadMore" aria-label="Page navigation">
                <ul class="pagination justify-content-center" id="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('partials/footer.ejs'); -%>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
    <script>
      var data = [];
      var j = 0;
      <% for (var i  = 0; i < postList.length; i++) {%>
          data[j++] = <%- JSON.stringify(postList[i]) %>;
      <% } %>

      const dataPanel = document.getElementById('list-news')
      const pagination = document.getElementById('pagination')
      const ITEM_PER_PAGE = 3

      getTotalPages(data);
      getPageData(1, data);

      // Pagination
      function getTotalPages(data) {
      let totalPages = Math.ceil(data.length / ITEM_PER_PAGE) || 1
      let pageItemContent = `
          <li class="page-item current">
              <a  href="javascript:;" data-page="1">1</a>
          </li>
          `
      for (let i = 1; i < totalPages; i++) {
          pageItemContent += `
          <li class="page-item">
              <a  href="javascript:;" data-page="${i + 1}">${i + 1}</a>
          </li>
          `
      }
      pagination.innerHTML = pageItemContent
      }
      $('#pagination li a').click(function() {
        $('#pagination li.current').removeClass('current');
        $(this).closest('li').addClass('current');
      });
      // Pagination EventListener
      pagination.addEventListener('click', (event) => {
      currentPage = event.target.dataset.page
      event.currentTarget.className += " active";
      if (event.target.tagName === 'A') {
          getPageData(event.target.dataset.page)
          console.log(event)
      }
      })

      function getPageData(pageNum, data) {
      paginationData = data || paginationData
      let offset = (pageNum - 1) * ITEM_PER_PAGE
      let pageData = paginationData.slice(offset, offset + ITEM_PER_PAGE)
      let htmlContent = ''
      pageData.forEach(function (item, index) {
          htmlContent += `
             <li class="news">
                  <div class="row">
                    <div class="col-4">
                      <a href="/news-detail/${item.PostID}">
                        <img
                          src="${item.ImageUrl}"
                          class="news-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-8">
                      <div class="news-category d-none d-md-inline-block">
                        Tin tức luật sư
                      </div>
                      <div class="news-title">
                      <a href="/news-detail/${item.PostID}">
                          ${item.Title}
                        </a>
                      </div>
                      <div class="news-time d-none d-md-inline-block">
                        <i class="fal fa-clock"></i>
                          ${ new Intl.DateTimeFormat('vi-VN', { year: 'numeric',month: 'long', day: '2-digit'}).format(new Date(item.UpdatedDateTime))}

                      </div>
                      <div class="news-description">
                          ${item.Content.toString().replace(/<\/?[^>]+(>|$)/g,"")}
                      </div>
                    </div>
                  </div>
                </li>
          `
      })
      dataPanel.innerHTML = htmlContent
      }
    </script>
  </body>
</html>
