<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tin tức | My Lawyer</title>

    <%- include('partials/head.ejs'); -%>
    <link rel="stylesheet" href="/client/assets/css/news-detail-page.css" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('partials/header.ejs'); -%>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->

    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container text-center" data-aos="fade-up">
        <h1><span>Tin tức My Lawyer</span></h1>
        <h2>My Lawyer đã và đang làm được những gì</h2>
      </div>
    </section>

    <!-- End Hero -->

    <main id="news-detail-page">
      <div class="container">
        <div class="row">
          <!-- sidebar for news -->
          <%- include('partials/news-sidebar.ejs'); -%>
          <div class="col-12 col-md-9 order-1">
            <div class="news">
              <div class="news-header">
                <h1 class="news-title"><%= Post.Title %></h1>
                <div class="news-infor d-flex">
                  <div class="news-author">
                    <i class="fas fa-user-edit"></i>
                    <span>hoangphuloc Phung</span>
                  </div>
                  <div class="news-day me-3">
                    <i class="fal fa-clock"></i>
                    <span
                      ><%=new Intl.DateTimeFormat('vi-VN', { year: 'numeric',
                      month: 'long', day: '2-digit'}).format(new
                      Date(Post.UpdatedDateTime))%></span
                    >
                  </div>
                </div>
              </div>
              <div class="news-content">
                <div class="news-img text-center">
                  <img src="<%= Post.ImageUrl%>" class="featured-img" alt="" />
                </div>
                <div class="news-text"><%- Post.Content.toString() %></div>
              </div>
            </div>
            <div class="pagination row">
              <div class="col-6 pagination-left">
                <a href="#">
                  <i class="fal fa-arrow-left"></i>
                  <span>Previous post</span>
                  <p>
                    Quy định mới về công nhận đào tạo nghề Luật sư ở nước ngoài
                  </p>
                </a>
              </div>
              <div class="col-6 pagination-right">
                <a href="#">
                  <span>Next post</span>
                  <i class="fal fa-arrow-right"></i>
                  <p class="">
                    Đoàn Luật sư TP. Hà Nội tạm dừng thu hồ sơ đăng ký tham dự
                    kiểm tra kết quả tập sự hành nghề Luật sư đợt 1 năm 2021
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('partials/footer.ejs'); -%>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  </body>
</html>
