<header id="header">
	<link rel="stylesheet" href="/admin/css/header.css">
    <div class="container">
    	<div class="row">
    		<div class="col-md-10">
				<h1>
					<img id="logo" src="/images/logo_transparent.png" class=".img-responsive" />
					Dashboard
				</h1>
    		</div>
    		<div class="col-md-2">
			    <div class="dropdown create">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Thêm nội dung
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a type="button" data-toggle="modal" data-target="#addPage">Thêm trang</a></li>
						<li><a type="button" data-toggle="modal" data-target="#addPost">Thêm bài viết</a></li>
						<li><a type="button" data-toggle="modal" data-target="#addLawyer">Thêm luật sư</a></li>
						<li><a type="button" data-toggle="modal" data-target="#addGuest">Thêm khách hàng</a></li>
						<li><a type="button" data-toggle="modal" data-target="#addAdmin">Thêm admin</a></li>
                    </ul>
			    </div>		
    		</div>
    	</div>
    </div>

    <!-- Modals -->
	<%- include('add-page.ejs'); -%>
	<%- include('add-post.ejs'); -%>
	<%- include('add-lawyer.ejs'); -%>
	<%- include('add-guest.ejs'); -%>
	<%- include('add-admin.ejs'); -%>
</header>