  <div class="modal" id="del-guest-<%= guest.ClientID %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title panel-heading main-color-bg">Bạn có chắc chắn xóa tài khoản bên dưới không? </h5>
        </div>
        <div class="modal-body">
          <p><%= typeof guest != 'undefined' || !guest ? guest.ClientID + ' ' + guest.FirstName + ' ' + guest.LastName : '(UNDEFINED)'; %></p>
        </div>
        <div id="cd_delmessage"></div>
        <div class="modal-footer">
          <a id="cd_delButton-<%= guest.ClientID %>" type="button" class="btn btn-danger" href='#'>Có</a>
          <a type="button" class="btn btn-primary" data-dismiss="modal">Không</a>
        </div>
      </div>
    </div>
  </div>

  <script>

    $('#cd_delButton-<%= guest.ClientID %>').click(function(eventObj){
        eventObj.preventDefault();
            
        alert("Click Del <%= guest.ClientID %>");
        const ClientID = {
            'ClientID' : '<%- guest.ClientID %>'
        }
      $.ajax(
            {
                url : "/admin/guests/<%- guest.ClientID %>",
                type: "DELETE",
                headers: { "Authorization": getCookie("mylawyer") },
                contentType: 'application/json',
                crossDomain: true,
                //data : JSON.stringify(ClientID),
                //dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                success:function(response, textStatus, request) 
                {
                    //data: return data from server
                    // alert("The server says: " + response.accessToken);
                    cd_delmessage.textContent = "Xóa thành công";
                    cd_delmessage.style.color = "green";
                    cd_delmessage.classList = "text-center mb-2";
                    // console.log(request.getResponseHeader('Set-Cookie'));
                    //alert(document.cookie);
                    window.location.replace('/admin/guests');

                },
                error: function(response) 
                {
                    console.log(response);
                    cd_delmessage.textContent = "Có lỗi xảy ra";
                    cd_delmessage.style.display = "block";
                    cd_delmessage.style.color = "red";
                    cd_delmessage.classList = "text-center mb-2";
                    //if fails   
                    //alert('it didnt work');   
                }
            });


    })

  </script>