    <!-- Sidebar -->
    <div class="profile-sidebar">
        <div class="user-widget">
            <div class="pro-avatar">
                <img src="<%= user.Avatar %>" alt="Avatar">
            </div>
            <div class="rating">
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="user-info-cont">
                <h4 class="usr-name"> <%= user.LastName %> <%= user.FirstName %> </h4>
                <p class="mentor-type">Khách hàng</p>
            </div>
        </div>
        <!--
        <div class="progress-bar-custom">
            <h6>Cập nhật thông tin ></h6>
            <div class="pro-progress">
                <div class="tooltip-toggle" tabindex="1"></div>
                <div class="tooltip">100%</div>
            </div>
        </div>
    -->
        <div class="custom-sidebar-nav">
            <ul>
                <!-- <li><a href="/user/dashboard" class="active"><i class="fas fa-home"></i>Thông tin chung <span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/user/dashboard/booking"><i class="fas fa-clock"></i>Danh sách liên hệ<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/user/dashboard/chat"><i class="fas fa-comments"></i>Tin nhắn<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="invoices.html"><i class="fas fa-file-invoice"></i>Invoices <span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/user/dashboard/favorite"><i class="fas fa-star"></i>Luật sư yêu thích <span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!--<li><a href="/user/dashboard/profile"><i class="fas fa-user"></i>Hồ sơ cá nhân<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <li><a href="/user/dashboard/setting?UserID=<%= user.ClientID %>"><i class="fas fa-cog"></i>Thông tin cá nhân<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="/user/dashboard/avatar?UserID=<%= user.ClientID %>"><i class="fas fa-cog"></i>Ảnh đại diện<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="/user/dashboard/changepw?UserID=<%= user.ClientID %>"><i class="fas fa-user-cog"></i>Thay đổi mật khẩu<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="#" onclick="logOut()"><i class="fas fa-sign-out-alt"></i>Đăng xuất <span><i class="fas fa-chevron-right"></i></span></a></li>
            </ul>
        </div>
    </div>
    <!-- /Sidebar -->