    <!-- Sidebar -->
    <div class="profile-sidebar">
        <div class="user-widget">
            <div class="pro-avatar">
                <img src="<%= lawyer.Avatar %>" alt="Avatar">
            </div>
            <div class="rating">
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="user-info-cont">
                <h4 class="usr-name"> <%= lawyer.LastName %> <%= lawyer.FirstName %> </h4>
                <p class="mentor-type">Lĩnh vực hình sự</p>
            </div>
        </div>
        <!--
        <div class="progress-bar-custom">
            <h6>Cập nhật thông tin ></h6>
            <div class="pro-progress">
                <div class="tooltip-toggle" tabindex="0"></div>
                <div class="tooltip">80%</div>
            </div>
        </div>
        -->
        <div class="custom-sidebar-nav">
            <ul>
                <!-- <li><a href="/lawyer/dashboard" class="active"><i class="fas fa-home"></i>Thông tin chung <span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/lawyer/dashboard/booking"><i class="fas fa-clock"></i>Danh sách liên hệ<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/lawyer/dashboard/schedule"><i class="fas fa-hourglass-start"></i>Đặt lịch hẹn<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/lawyer/dashboard/chat"><i class="fas fa-comments"></i>Tin nhắn<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="invoices.html"><i class="fas fa-file-invoice"></i>Invoices <span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/lawyer/dashboard/review"><i class="fas fa-eye"></i>Bình luận <span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/lawyer/dashboard/blog"><i class="fab fa-blogger-b"></i>Bài viết <span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <!-- <li><a href="/lawyer/dashboard/profile"><i class="fas fa-user"></i>Hồ sơ cá nhân<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <li><a href="/lawyer/dashboard/setting?UserID=<%= lawyer.LawyerID %>"><i class="fas fa-cog"></i>Thông tin cá nhân<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="/lawyer/dashboard/avatar?UserID=<%= lawyer.LawyerID %>"><i class="fas fa-cog"></i>Ảnh đại diện<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="/lawyer/dashboard/changepw?UserID=<%= lawyer.LawyerID %>"><i class="fas fa-user-cog"></i>Thay đổi mật khẩu<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="#" onClick="logOut()"><i class="fas fa-sign-out-alt"></i>Đăng xuất <span><i class="fas fa-chevron-right"></i></span></a></li>
            </ul>
        </div>
    </div>
    <!-- /Sidebar -->