<!DOCTYPE html>
<html lang="en">

<head>

  <title>Tin tức | My Lawyer</title>

  <%- include('partials/head.ejs'); -%>

  <link rel="stylesheet" href="/client/assets/vendor/mdi/css/materialdesignicons.min.css"/>
  <link rel="stylesheet" href="/client/assets/vendor/aos/dist/aos.css/aos.css" />

  
  <link rel="stylesheet" href="/client/assets/vendor/style/style.css">
  

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header.ejs'); -%>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center" data-aos="fade-up">
      <h1><span><%= Post.Title %></span></h1>
    </div>
  </section>

  <!-- End Hero -->

  <main id="main">

    <!--Start code-->
    <section id="newspage">
        <div class="flash-news-banner">
            <div class="container">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                    </div>
                </div>
                <div class="row">
                    <div class="thumbnail">
                        <img src="<%= Post.ImageUrl%>" alt="" class="img-fluid">
                        <!-- <img src="https://photo-cms-tpo.zadn.vn/w645/Uploaded/2021/unvipuo/2021_04_03/loikhai-2-4981.jpeg" alt="" class="img-fluid"> -->
                        <!-- <img src="/client/uploads/post-thumbnail/Po0001.jpeg" alt="" class="img-fluid"> -->
                        <!-- <img scr="/client/uploads/post-thumbnail/Po0001.jpeg" alt="" class="img-fluid" width="500" height="600"> -->
                    </div>
                    <div class="col-sm-12  grid-margin">
                        <div class="fs-13 mb-2">
                            10 Minutes ago
                        </div>
                        
                        <!-- Intruction -->
                        <div class="mb-0" id='content'>
                            <%- Post.Content.toString() %>
                        </div>
                        <!-- <img src="/client/uploads/post-images/Po0001_1.png" alt='' class='img-fluid'> -->
                    </div>
                </div>
                <div class="card text-right" >
                    <div class="card-body">
                        <%if(typeof AuthorErr != 'undefined') {%>
                            <h5 class="card-title badge badge-warning">
                                <span><%= AuthorErr %></span>
                            </h5>
                        <% } else {%>
                            <h5 class="card-title badge">
                                <span><%= Author.AdminID %></span>
                            </h5>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--end code-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('partials/footer.ejs'); -%>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/client/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/client/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/client/assets/vendor/php-email-form/validate.js"></script>
  <script src="/client/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/client/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/client/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/client/assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <script type="text/javascript" src="/client/assets/vendor/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script type="text/javascript" src="/client/assets/vendor/aos/dist/aos.js/aos.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script type="text/javascript" src="/client/assets/js/demo.js"></script>
  <script type="text/javascript" src="/client/assets/js/jquery.easeScroll.js"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  
  <script src="/client/assets/js/main.js"></script>
  <script src="/client/assets/js/post-detail.js"></script>
    <script>
        $(document).ready(() => {
            var content = '<%= Post.Content.toString() %>';
            // console.log(content);
            // var newContent = content.replace('&lt;','<').replace('&gt;', '>');
            // console.log(content);
            // // document.querySelector('#content').innerHTML = newContent
            // // const content = '<b>' + '<%= Post.Content%>' + '</b>'
            // var parser = new DOMParser();
            // var newDiv = parser.parseFromString(newContent, 'text/html');
            // document.querySelector('#content').appendChild = newDiv
            // var target = document.querySelector('#content');


            // newDiv.innerHTML = content;
            // target.firstChild = newDiv
            // target.innerHTML += '<img src="/client/uploads/post-images/Po0001_1.png" alt="" class="img-fluid">'
        })
    </script>
</body>

</html>