<div class="modal" id="del-post-<%= post.PostID %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modal-header-<%= post.PostID%>" class="modal-title panel-heading main-color-bg">Bạn có chắc chắn xóa bài viết bên dưới không? </h5>
        </div>
        <div class="modal-body" id='modal-body-<%= post.PostID%>'>
          <p><%= typeof post != 'undefined' || !post ? ["Tiêu Đề: ", post.Title].join(' ') : '(UNDEFINED)'; %></p>
        </div>
        <div id="cd_delmessage"></div>
        <div class="modal-footer">
          <a name='delete-post-btn' id="cd_delButton-<%= post.PostID %>" type="button" class="btn btn-danger" href="/admin/posts/<%- post.PostID %>">Có</a>
          <a type="button" class="btn btn-primary" id="cd_dismissButton-<%= post.PostID %>" data-dismiss="modal">Không</a>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(() => {
            $('#cd_delButton-<%= post.PostID %>').click((eventObj) => {
                eventObj.preventDefault();
                
                $.ajax({
                    url : '/admin/posts/<%= post.PostID %>',
                    type: "DELETE",
                    contentType: 'application/json',
                    crossDomain: true,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: () => {
                        $('#modal-header-<%= post.PostID%>').html('Đã xóa bài viết thành công!');
                        $('#cd_delButton-<%= post.PostID %>').hide();
                        $('#cd_dismissButton-<%= post.PostID %>')
                            .html('OK');
                        
                        $('#post-info-<%= post.PostID %>').remove();
                    },
                    error: () => {
                        $('#modal-header-<%= post.PostID%>').html('Phát sinh lỗi khi xóa bài viết!');
                        $('#cd_delButton-<%= post.PostID %>').hide();
                        $('#cd_dismissButton-<%= post.PostID %>')
                            .removeClass('btn-primary')
                            .addClass('btn-danger')
                            .html('Close');
                    },
                });
            })
        });
</script>